@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    padding: 2rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

h1 {
    text-align: center !important;
    margin-block: 3rem !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

h5 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #06aff0;
    border-radius: 0.6em;
    color: #06aff0;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: .8em 2.4em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.btn:hover,
.btn:focus {
    color: #fff;
    outline: 0;
}

.btn-info {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn-info:hover {
    box-shadow: 0 0 40px 40px #06aff0 inset;
}