// @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

$primary-color-100: hsl(158, 36%, 37%);
$primary-color-200: hsl(30, 38%, 92%);
$primary-color-300: hsl(158, 36%, 27%);


$neutral-color-900: hsl(212, 21%, 14%);
$neutral-color-600: hsl(228, 12%, 48%);
$neutral-color-100: hsl(0, 0%, 100%);

$bg-primary-200: hsl(26deg, 40%, 92.2%);
$bg-primary-100: hsl(0, 50%, 100%);
$font-size-90: 0.875rem;

$ff-serif: 'Fraunces', serif;
$ff-sans-serif: 'Montserrat', sans-serif;

$fw-500: 500;
$fw-700: 700;

