/* Custom variables */
:root {
    --clr-primary-400: hsl(0, 100%, 67%);
    --clr-primary-500: hsl(39, 100%, 56%);
    --clr-primary-600: hsl(166, 100%, 37%);
    --clr-primary-700: hsl(234, 85%, 45%);
    /* background */
    --gradient-100: hsl(252, 100%, 67%);
    --gradient-200: hsl(241, 81%, 54%);
    /* circle */
    --gradient-300: hsla(256, 72%, 46%, 1);
    --gradient-400: hsla(241, 72%, 46%, 0);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-300: hsl(221, 100%, 96%);
    --clr-neutral-400: hsl(241, 100%, 89%);
    --clr-neutral-500: hsl(224, 30%, 27%);

    --fs-125: 1.125rem;
    --font-family: 'Hanken Grotesk', sans-serif;
    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;
}


/* Minimal reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* General styling */
html,
body {
    height: 100%;
}

body {
    font-family: var(--font-family);
}

/* Card Mobile */

.wrapper {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background-color: var(--clr-neutral-100);
}

.card-1-container {
    padding: 2rem;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    background: linear-gradient(to bottom, var(--gradient-100), var(--gradient-200));
}

h1 {
    font-size: var(--fs-125);
    color: var(--clr-neutral-400);
}

.score-section {
    display: inline-block;
    margin-block: 1.5rem;
    padding: 2.25rem;
    color: var(--clr-neutral-100);
    position: relative;
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--gradient-300), var(--gradient-400));
}


.score-section h2 {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: var(--fw-700);
}

.score-section p {
    line-height: 1.5;
    color: hsla(241, 100%, 89%, 0.7);
    font-size: 1rem;
}

.congratulation-section p {
    color: var(--clr-neutral-400);
}

.congratulation-section p:first-child {
    color: var(--clr-neutral-100);
    font-size: 1.5rem;
    line-height: 2;
}

.card-2-container {
    padding: 1.5rem;
    text-align: left;
}

.card-2-container>h2 {
    font-size: 1rem;
    margin-block-end: 1.5rem;
    font-weight: var(--fw-700);
    color: var(--clr-neutral-500);
}

.summary-element {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    margin-block: 0.75rem;
    border-radius: 0.5rem;
}

.summary-element>span {
    display: flex;
    gap: 0.75rem;
}

.summary-element>span>h3 {
    display: inline-block;
    font-size: 1rem;
}

.summary-element p {
    color: hsla(224, 30%, 27%, 0.5);
    font-weight: var(--fw-700);
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: var(--clr-primary-400);
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: var(--clr-primary-500);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
    ;
    color: var(--clr-primary-600);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: var(--clr-primary-700);
}

.card-score {
    color: var(--clr-neutral-500);
    font-weight: var(--fw-800);
}

button[type="submit"] {
    margin-block-start: 1rem;
    width: 100%;
    border: 0;
    background-color: var(--clr-neutral-500);
    color: var(--clr-neutral-300);
    border-radius: 100vw;
    padding-block: 1.25rem;
    font-weight: var(--fw-700);
    font-size: var(--fs-125);
}

button[type="submit"]:where(:hover, :focus) {
    cursor: pointer;
    background: linear-gradient(to bottom, var(--gradient-100), var(--gradient-200));
}

/* Card Desktop */
@media screen and (min-width: 36rem) {
    .wrapper {
        height: 100%;
        width: min(90%, 1440px);
    }

    .card {
        display: flex;
        border-radius: 1rem;
        box-shadow: 0px 5px 19px 0px hsla(234, 85%, 45%, 0.25);
    }

    .card-1-container {
        width: clamp(18rem, 20vw + 3rem, 20rem);
        border-radius: 1rem;
    }

    .card-2-container {
        padding: 2.25rem;
        width: clamp(18rem, 15vw + 3rem, 20rem);
    }
}